<%= debug(params) %>
<h1>
<% if resource.is_a?(Student) %>
    <%= 'Invite a Student' %>
    <%= link_to 'Invite an Instructor', new_instructor_invitation_path %>
<% else %>
    <%= 'Invite an Instructor' %>
    <%= link_to 'Invite a Student', new_student_course_invitation(@course) %>
<% end %>
</h1>

<h2><%= t "devise.invitations.new.header" %></h2>
<%= form_for resource, as: resource_name, url: student_course_invitation_path(@course, resource_name), :html => {method: :post} do |f| %>
  <%= devise_error_messages! %>

<% resource.class.invite_key_fields.each do |field| -%>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :type, class: "control-label" %>
    <%= f.text_field :type, class: "form-control" %>
  </div>
  <p><%= f.label field %><br />
  <%= f.text_field field %></p>

  <% if resource.is_a?(Student) %>

  <h3>Courses</h3>
    <div id='registrations'>
      <%= f.fields_for :registrations do |registration| %>
        <%= render 'registration_fields', :f => registration %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Course', f, :registrations %>
      </div>
    </div>
    <% end %>
<% end -%>

  <% if resource.is_a?(Student) %>
    <%= f.submit 'Invite Student', class: "btn btn-info" %>
  <% else %>
    <%= f.submit 'Invite Instructor', class: "btn btn-info" %>
  <% end %>
<% end %>
